body{
    background-color: #fafafa;
}

#userSection{
margin-left: 60px;
}

h3{
    color: #2f57a6;
}

h4{
    color: #e83952;
    font-weight: bold;
}

h6{
    color: #dc6177;
}

h2{
    color: #7a7a7a;
}