html{
    height: 100%;
    width: 100%;
    display: flex;
}

body{
    height: 90%;
    width: 90%;

}

.page-title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    color: orangered;
}

#myForm{
    display: flex;
    margin-top: 5rem;
    font-size: xx-large;
    justify-content: center;
    align-content: center;
}

#the-delete-user-form{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}